# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Ignore system created fils
.idea
.DS_Store

# Ignore build directories and tmp folders
assets/build/*.map
misc/tmp
node_modules
tests/output
vendor
phpcs-report.txt
